<!DOCTYPE html>
<html lang="en">
<head>
	<base href="{{blog.config.host}}/">

	<!-- META -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINKS -->
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="icon" type="image/x-icon" href="{{blog.favicon}}">
	{% block customcss %}{% endblock %}
	
	<title> {% block title %} {{blog.name}}{% endblock %} </title>

	{% block seoTags %}
	{% include 'seo_tags_listings.html' %}
	{% endblock %}
	<plugins></plugins>
</head>
<body>
	<div style="flex: 1;">
		<nav class="main-nav">
			<div class="nav-inner">
				<a href="{{blog_url}}" class="logo">
					<img src="{{blog.config.host}}/{{blog.logo}}" alt="">
				</a>
				<div class="nav-links">
					{% include "navlinks.html" %}
				</div>
				<div class="hamburger-menu">
					<div class="line line1"></div>
					<div class="line line2"></div>
					<div class="line line3"></div>
				</div>
			</div>
		</nav>
		<div class="blogs-content-wrapper">
			<div class="page-content">
				<header>
					<div class="header-inner">
						{% block header %}{% endblock %}
					</div>
				</header>
				{% block body %}{% endblock %}
			</div>
			{% include "sidebar.html" %}
		</div>
	</div>

	{% block bottomMoreContent %}{% endblock %}

	<footer>
		<div class="footer-inner">
			<!-- Consider not to remove this as this is free and open source -->
			<p>Powered By TigerBlogEngine Copyright @ 2023 <a href="https://TigerTeamX.com">TigerTeamX.com</a></p>
		</div>
	</footer>

	<script>
		const nav = document.querySelector('.main-nav')
		nav.addEventListener('click', () => nav.classList.toggle('show-nav'))
	</script>
	
	{% block customjs %}{% endblock %}

	{% include "javascript.html" %}

</body>
</html>
